include ./mixins/portfolio-item.jade

section#portfolio
    div.row
        div.large-12.medium-12.column
            h2.section-title Portfolio
            ul.large-block-grid-3.medium-block.grid-2.portfolio-items
                - each project in projects
                    +portfolio-item(project)
