li
    div.panel.portfolio-item
        div.item-caption
            h4 {{ title }}
            p {{ caption }}
            a.button.tiny.radius(href="#") Read more
            a.button.tiny.radius(href="{{ demoUrl }}") Live Demo
            a.button.tiny.radius(href="{{ srcUrl }}") Source Code
        img(src="{{ thumbnailUrl }}")
