extends ../../../index.jade

block main
    section#blog
        div.row
            div.large-12.column
                h2.section-title Blog

        div.row
            div.large-12.column
                include:markdown ../../../data/blog/index.md

                ul.post-list
