/* -----------------------------------------------------------------------------
    Global
----------------------------------------------------------------------------- */
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h2 {
    font-size: 1.500em;
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
}


/* -----------------------------------------------------------------------------
    Header
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
    Navigation Menu
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
    Background
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
    Main Content
----------------------------------------------------------------------------- */

/* ----- About ----- */


/* ----- Showcase ----- */


/* ----- Portfolio ----- */


/* ----- Contact ----- */



/* -----------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------- */

.footer p {
    font-size: 0.750em;
}
