@gradient2: #A2D7D8;
@gradient1: #799FC6;

/* -----------------------------------------------------------------------------
    Global
----------------------------------------------------------------------------- */
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h2 {
    font-size: 1.500em;
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
}


/* -----------------------------------------------------------------------------
    Header
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
    Navigation Menu
----------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
    Background
----------------------------------------------------------------------------- */

.bg {
    margin-top: -20px;
    padding: 180px 20px;
    background: @gradient1;
    background: -webkit-gradient(left, @gradient1, @gradient2);
    background: -webkit-linear-gradient(left, @gradient1, @gradient2);
    background:    -moz-linear-gradient(left, @gradient1, @gradient2);
    background:     -ms-linear-gradient(left, @gradient1, @gradient2);
    background:      -o-linear-gradient(left, @gradient1, @gradient2);
    background:         linear-gradient(left, @gradient1, @gradient2);
}


/* -----------------------------------------------------------------------------
    Main Content
----------------------------------------------------------------------------- */

/* ----- About ----- */


/* ----- Showcase ----- */


/* ----- Portfolio ----- */


/* ----- Contact ----- */



/* -----------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------- */

.footer p {
    font-size: 0.750em;
}
