section#about
    div.row
        div.large-12.column
            h2.section-title About Me

    div.row
        div.me.large-12.column.text-justify
            - each paragraph in about.me
                p #{paragraph}
