section#contact
    div.row
        div.large-12.column
            h2.section-title Contact
            ul.social-links
                li.github
                    a(href="//github.com/chessmasterhong" title="GitHub")
                        i.fa.fa-github
                li.bitbucket
                    a(href="//bitbucket.org/chessmasterhong" title="Bitbucket")
                        i.fa.fa-bitbucket
                li.linkedin
                    a(href="//www.linkedin.com/in/kchan12" title="LinkedIn")
                        i.fa.fa-linkedin
