section#contact
    div.row
        div.large-12.column
            h2.section-title Contact

    div.row
        div.large-12.column
            ul.social-links
                - each url, site in contacts.social
                    - var siteLC = site.toLowerCase()
                    li(class = siteLC)
                        a(href="#{contacts[url]}" title="#{site}")
                            i.fa(class = "fa-" + siteLC)
