include ../mixins/portfolio-item.jade

section#portfolio
    div.row
        div.large-12.medium-12.column
            h2.section-title Portfolio
            ul.portfolio-items.large-block-grid-3.medium-block-grid-2.small-block-grid-1
                - each project in projects
                    +portfolio-item(project)
