include ../mixins/portfolio-item.jade

- var filters = [];
- each project in projects
    - var categories = project.categories || []
    - each category in categories
        - var cat = category.toLowerCase()
        - if(filters.indexOf(cat) === -1)
            - filters.push(cat)


section#portfolio
    div.row
        div.large-12.column
            h2.section-title Portfolio

    div.row
        div.large-12.column
            div.portfolio-filters.text-center
                div.portfolio-filter(data-filter="all") All
                - each filter in filters
                    - var fltr = filter.charAt(0).toUpperCase() + filter.substring(1)
                    div.portfolio-filter(data-filter="." + filter)
                        span #{fltr}

    div.row
        div.large-12.column
            ul.portfolio-items.large-block-grid-3.medium-block-grid-2.small-block-grid-1
                - each project in projects
                    +portfolio-item(project)
