include ../mixins/showcase-item.jade

- var index = 0

section#showcase
    div.row
        div.large-12.column
            h2.section-title Showcase
            - each project in projects
                - if(project.showcase === true)
                    +showcase-item(project, index++ % 2)
