@import "../variables.less";


#nav {
    position: relative;

    @media(max-width: @mediaBreak1) {
        display: none;
    }
}

#nav .row {
    background: @auxColor0;
    border-bottom: 4px solid @mainColor3;
}

#nav .row a {
    color: @mainColor1;
    float: left;
    font-size: 0.875rem;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 12px 15px;
}

#nav .row a:active,
#nav .row a:hover {
    border-bottom: 4px solid @mainColor2;
    color: @mainColor3;
    margin-bottom: -4px;
}
