doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        title Kevin Chan | chessmasterhong

        meta(name="description", content="Kevin Chan. Programmer, computer scientist, technology enthusiast.")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", type="text/css", href="vendor/foundation/css/foundation.css")
        link(rel="stylesheet", type="text/css", href="vendor/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lato:700,700italic,300,300italic")
        link(rel="stylesheet", type="text/css", href="styles/site.css")

    body
        //- Header
        header#header
            //- Header: Logo
            section#logo
                div.row
                    div.large-12.column
                        span Kevin Chan

            //- Header: Navigation
            nav#nav
                div.row
                    div.large-12.column
                        a(href="#about") About
                        a(href="#showcase") showcase
                        a(href="#portfolio") portfolio
                        a(href="#contact") contact

            //- Header: Banner
            section#banner
                div.row
                    div.large-12.column
                        h1 Blah blah blah

        //- Main Content
        main#main
            include ./templates/layouts/about.jade
            include ./templates/layouts/showcase.jade
            include ./templates/layouts/portfolio.jade
            include ./templates/layouts/contact.jade

        //- Footer
        footer#footer
            div.row
                div.large-12.column
                    p Copyright &copy; 2015 Kevin Chan

        script(type="text/javascript", src="vendor/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="vendor/mixitup2/build/jquery.mixitup.min.js")

        script(type="text/javascript", src="scripts/smooth-scroll.js")
        script(type="text/javascript", src="scripts/mixitup.js")
