@import "../variables.less";


#footer {
    background: @auxColor1;

    .row {
        background: @auxColor0;
        border-top: 4px solid @mainColor3;
        padding: 20px 0;
        text-align: center;
    }

    p {
        color: @mainColor1;
        font-size: 0.75rem;
        font-weight: 300;
    }

    a {
        color: @bannerGradient1;
    }
}
