@import "../variables.less";


#portfolio ul.portfolio-items li {
    padding: 0 10px;
}

#portfolio .mix {
    display: none; // Display handled by MixItUp.
}

#portfolio ul.portfolio-items li .portfolio-item {
    display: inline-block;
    padding: 10px;
    position: relative;
}

#portfolio ul.portfolio-items li .portfolio-item:hover .item-img-wrapper img {
    filter: blur(5px);
    margin: -5px 0 -10px 0;
    padding: 5px 0 10px 0;
}

#portfolio ul.portfolio-items li .portfolio-item:hover .item-caption {
    opacity: 1;
    visibility: visible;
}

#portfolio ul.portfolio-items li .portfolio-item .item-img-wrapper {
    overflow: hidden;
}

#portfolio ul.portfolio-items li .portfolio-item .item-img-wrapper img {
    margin: -5px 0 -10px 0;
    padding: 5px 0 10px 0;
    max-width: 100%;
    transition: filter 0.1s ease-in-out;
}

#portfolio ul.portfolio-items li .portfolio-item .item-caption {
    background: rgba(0, 0, 0, 0.7);
    border: 10px solid @auxColor1;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
    width: 100%;
}

#portfolio ul.portfolio-items li .portfolio-item .item-caption h4 {
    border-bottom: 1px dotted @mainColor1;
    color: @mainColor1;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-bottom: 4px;
    padding: 0 4px 8px;
}

#portfolio ul.portfolio-items li .portfolio-item .item-caption p {
    color: @mainColor1;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0 4px 12px;
}

#portfolio ul.portfolio-items li .portfolio-item .item-caption .button {
    padding: 8px 10px;
}

#portfolio ul.portfolio-items li .portfolio-item .item-caption .button i {
    font-size: 1rem;
}
