@import "../variables.less";


#showcase {
    background: @auxColor1;
    border-bottom: 1px solid @auxColor2;
    border-top: 1px solid @auxColor2;
}

#showcase .row-even,
#showcase .row-odd {
    padding: 40px 0;

    @media(max-width: @mediaBreak0) {
        padding: 20px 0;
    }
}

#showcase .showcase-thumbnail img {
    box-shadow: 2px 2px 4px 2px @mainColor4;
}

#showcase .showcase-title h3 {
    @media(max-width: @mediaBreak1) {
        font-size: 1.450rem;
    }

    @media(max-width: @mediaBreak0) {
        font-size: 1.250rem;
        letter-spacing: -0.020rem;
        padding-top: 12px;
    }
}

#showcase .showcase-text p {
    font-size: 1.000rem;
    line-height: 1.500rem;

    @media(max-width: @mediaBreak1) {
        font-size: 0.950rem;
        line-height: 1.250rem;
    }

    @media(max-width: @mediaBreak0) {
        font-size: 0.900rem;
        letter-spacing: -0.010rem;
        line-height: 1.000rem;
    }
}

#showcase .showcase-text .buttons-text .button {
    padding: 14px 24px;
}

#showcase .showcase-text .buttons-icon .button {
    padding: 12px 16px;
}

#showcase .showcase-text .buttons-icon .button i {
    font-size: 1.25rem;
}
